# Virtual Environment
BRSenv/
venv/
.env/

# Data Files
finalData/
rawData/*.csv
*.csv

# Saved Models and Notebooks
*.ipynb
*.pkl
recommender_Model/similarity_matrices.pkl

# But keep those in recommender_Model
!recommender_Model/final_df.pkl
!recommender_Model/tfidf_matrices.pkl

# Python cache and logs
__pycache__/
*.log

# System files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/